<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Authorization</title>
  </head>
  <body background="https://img.wallscloud.net/converted/3523426374-Lightning-Strike-4r8V-3840x2160-MM-100.jpg" style="background-attachment: fixed">
    <a href="registration">Registration</a>
    {% if error %}

    <div>
        You have entered an incorrect username or password. Try again!
    </div>

    {% endif %}
    <form method="post" action="/authorization">
          {% csrf_token %}
          {{ auth_form }}
          <input type="submit" value="Sign in">
    </form>
  </body>
</html>