    {% load menu_tags %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
  </head>
  <body background="https://img.wallscloud.net/converted/3523426374-Lightning-Strike-4r8V-3840x2160-MM-100.jpg" style="background-attachment: fixed">

<div id="main_menu">
    {% main_menu %}
</div>

    <a href="update">Edit profile</a>

    <h1 style="color:#FFFFFF">Your profile {{ user.username }}</h1>

    {% if avatar.avatar %}

    <div>
        <img src="{{ avatar.avatar.url }}" alt="" width="100px" height="100px">
    </div>

    {% else %}

    <div>
        <img src="https://cdn-icons-png.flaticon.com/512/1995/1995515.png" alt="" width="100px" height="100px">
    </div>

    {% endif %}

    <h3 style="color:#7FFF00"><b>Last Name:</b> <i style="color:#FFFFFF">{{ user.last_name }}</i></h3>
<hr>
    <h3 style="color:#7FFF00"><b>First Name:</b> <i style="color:#FFFFFF">{{ user.first_name }}</i></h3>
<hr>
    <h3 style="color:#7FFF00"><b>Email:</b> <i style="color:#FFFFFF">{{ user.email }}</i></h3>
<hr>
    <h3 style="color:#7FFF00"><b>Phone Number:</b> <i style="color:#FFFFFF">{{ avatar.phone }}</i></h3>
<hr>
    <h3 style="color:#7FFF00"><b>Information About You:</b> <i style="color:#FFFFFF">{{ avatar.about }}</i></h3>
<hr>
    <h3 style="color:#7FFF00"><ins>Link To GitHub Account:</ins> <a href="{{ avatar.github_link }}" target="_blank">{{ avatar.github_link }}</a></h3>
<hr>

  </body>
</html>