<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Registration</title>
  </head>

  <body background="https://img.wallscloud.net/converted/3523426374-Lightning-Strike-4r8V-3840x2160-MM-100.jpg" style="background-attachment: fixed">

  <a href="/authorization">Authorization</a>

    <form method="post" action="/registration" style="color:#FFFFFF">
          {% csrf_token %}
          {{ reg_form }}
          <input type="submit" value="Sign up">
    </form>

  </body>
</html>