django==4.0.4
Pillow==9.1.0
djangorestframework==3.13.1
drf-spectacular==0.22.1
django-admin-interface==0.19.1
celery==5.2.7
django-celery-results==2.2.0
django-redis==5.2.0
django-dotenv==1.4.2
python-dotenv==0.20.0
portalocker==2.4.0
waitress==2.1.2
whitenoise==6.2.0
redis